.section {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 5px rgb(10, 65, 71);
    border-radius: 20px;
}

.section__header {
    border-bottom: rgb(71, 177, 189) solid 1px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.section__title {
    font-size: 20px;
    margin: 0;
}

@media(max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    font-size: 20px;
    margin: 0;
}

.section__body {
    padding: 5px;
}