.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 5px 15px 5px 15px;
    border: solid rgb(71, 177, 189);
    border-radius: 20px;
    margin: 5px;
    font-size: 20px;
}

.form__button {
    background-color: rgb(71, 177, 189);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.form__button:hover {
    background-color: rgb(25, 123, 134);
    transform: scale(1.1);
}

.form__button:active {
    background-color: rgb(109, 176, 184);
}